<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Lumero analyses your photo library on-device to find screenshots, duplicates, blurry images and storage-saving opportunities. Your photos are not uploaded.</string>
</dict>
</plist>
